@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
/*
font-family: 'Lato', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", "Merriweather Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

ol, ul {
  padding: 0rem;
}

.header {
  background-color: #086375;
  color: #faebd7;
  display: grid;
  grid-template-columns: 4fr 3fr;
  width: 100%;
  min-height: 150px;
}
.header .header-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}
.header .header-div .logo {
  width: 70px;
  transition: 1s;
}
.header .header-div .logo:hover {
  transform: scale(1.4);
}
.header .header-div .titulo {
  font-weight: 800;
  font-size: 2rem;
  font-family: "Merriweather Sans", "Lato", sans-serif;
  text-align: center;
  margin-bottom: 0px;
  animation-name: moverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes moverse {
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header .nav {
  background-color: #45abb1;
}
.header .nav .menu {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.header .nav .menu .menu-item {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .menu .menu-item a {
  text-decoration: none;
  color: #faebd7;
  font-family: "Merriweather Sans", "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
}
.header .nav .menu .menu-item a:hover {
  color: #163a70;
  transition: 1.7s;
  transform: rotate(360deg);
}
.header .nav .menu .mates, .header .nav .menu .memesmateros {
  background-color: #288391;
}
.header .nav .menu .mates a, .header .nav .menu .memesmateros a {
  color: #faebd7;
}
.header .nav .menu .activo {
  text-decoration: underline double;
}

@media screen and (max-width: 1200px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr 1.5fr;
  }
}
@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .header .nav .menu {
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "inicio mates yerbas  memesmateros  contacto";
  }
  .header .nav .menu .inicio {
    grid-area: inicio;
  }
  .header .nav .menu .mates {
    grid-area: mates;
  }
  .header .nav .menu .yerbas {
    grid-area: yerbas;
  }
  .header .nav .menu .memesmateros {
    grid-area: memesmateros;
  }
  .header .nav .menu .contacto {
    grid-area: contacto;
  }
  .header .header-div .logo {
    max-width: 55px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .header .nav .menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "inicio" "mates" "yerbas" "memesmateros" "contacto";
  }
}
.hero, .main, .section {
  background-image: linear-gradient(to right, #0eb1c7, #f5f8fd, #0eb1c7);
  color: #163a70;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  gap: 1rem;
}
.hero .hero-titulo, .hero .main-titulo, .main .hero-titulo, .main .main-titulo, .section .hero-titulo, .section .main-titulo {
  font-size: 2rem;
  font-family: "Merriweather Sans", "Lato", sans-serif;
  font-weight: 600;
}
.hero .hero-titulo:hover, .hero .main-titulo:hover, .main .hero-titulo:hover, .main .main-titulo:hover, .section .hero-titulo:hover, .section .main-titulo:hover {
  transition: 1s;
  transform: scale(1.05);
}
.hero .texto, .main .texto, .section .texto {
  font-size: 1rem;
  max-width: 75ch;
}
.hero .cajas, .main .cajas, .section .cajas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.hero .cajas .caja, .main .cajas .caja, .section .cajas .caja {
  max-width: 500px;
}
.hero .cajas .caja .img, .main .cajas .caja .img, .section .cajas .caja .img {
  display: inline-block;
  min-width: 220px;
  max-width: 220px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.hero .cajas .caja-principal .img, .main .cajas .caja-principal .img, .section .cajas .caja-principal .img {
  max-width: 100%;
  min-width: 220px;
}
.hero .cajas .caja-secundaria, .main .cajas .caja-secundaria, .section .cajas .caja-secundaria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .hero .cajas .caja-secundaria .disabled, .main .cajas .caja-secundaria .disabled, .section .cajas .caja-secundaria .disabled {
    display: none;
  }
}
.hero .section-titulo, .main .section-titulo, .section .section-titulo {
  font-size: 1.5rem;
  font-family: "Merriweather Sans", "Lato", sans-serif;
  font-weight: 600;
}
.hero .articulosmate, .main .articulosmate, .section .articulosmate {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "matemadera   .           " "matemadera   .           " "matemadera   mateacero   " "matemadera   mateacero   " "mateceramica mateacero   " "mateceramica mateacero   " "mateceramica matecalabaza" "mateceramica matecalabaza" ".            matecalabaza" ".            matecalabaza";
}
.hero .articulosmate .article, .main .articulosmate .article, .section .articulosmate .article {
  margin: 0.3rem;
  padding: 1rem;
  max-width: 350px;
  background-color: #94dfcf;
  border: 1px solid #163a70;
  border-radius: 5px;
  transition: 1s;
}
.hero .articulosmate .article:hover, .main .articulosmate .article:hover, .section .articulosmate .article:hover {
  transform: translateY(-7px);
}
.hero .articulosmate .article .article-img, .main .articulosmate .article .article-img, .section .articulosmate .article .article-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}
.hero .articulosmate .article .subtitulo, .main .articulosmate .article .subtitulo, .section .articulosmate .article .subtitulo {
  font-size: 1.3rem;
  min-width: 125px;
  padding-top: 0.5rem;
}
.hero .articulosmate .article .texto, .main .articulosmate .article .texto, .section .articulosmate .article .texto {
  font-size: 1rem;
  max-width: 75ch;
}
.hero .articulosmate .matecalabaza, .main .articulosmate .matecalabaza, .section .articulosmate .matecalabaza {
  grid-area: matecalabaza;
}
.hero .articulosmate .mateacero, .main .articulosmate .mateacero, .section .articulosmate .mateacero {
  grid-area: mateacero;
}
.hero .articulosmate .mateceramica, .main .articulosmate .mateceramica, .section .articulosmate .mateceramica {
  grid-area: mateceramica;
}
.hero .articulosmate .matemadera, .main .articulosmate .matemadera, .section .articulosmate .matemadera {
  grid-area: matemadera;
}
.hero .articulosbombillas, .main .articulosbombillas, .section .articulosbombillas {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "bombillaacero  .               " "bombillaacero  .               " "bombillaacero  bombillaaluminio" "bombillaacero  bombillaaluminio" "bombillaniquel bombillaaluminio" "bombillaniquel bombillaaluminio" "bombillaniquel bombillaalpaca  " "bombillaniquel bombillaalpaca  " ".              bombillaalpaca  " ".              bombillaalpaca  ";
}
.hero .articulosbombillas .article, .main .articulosbombillas .article, .section .articulosbombillas .article {
  margin: 0.3rem;
  padding: 1rem;
  max-width: 350px;
  background-color: #94dfcf;
  border: 1px solid #163a70;
  border-radius: 5px;
  transition: 1s;
}
.hero .articulosbombillas .article:hover, .main .articulosbombillas .article:hover, .section .articulosbombillas .article:hover {
  transform: translateY(-7px);
}
.hero .articulosbombillas .article .article-img, .main .articulosbombillas .article .article-img, .section .articulosbombillas .article .article-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}
.hero .articulosbombillas .article .subtitulo, .main .articulosbombillas .article .subtitulo, .section .articulosbombillas .article .subtitulo {
  font-size: 1.3rem;
  min-width: 125px;
  padding-top: 0.5rem;
}
.hero .articulosbombillas .article .texto, .main .articulosbombillas .article .texto, .section .articulosbombillas .article .texto {
  font-size: 1rem;
  max-width: 75ch;
}
.hero .articulosbombillas .bombillaacero, .main .articulosbombillas .bombillaacero, .section .articulosbombillas .bombillaacero {
  grid-area: bombillaacero;
}
.hero .articulosbombillas .bombillaaluminio, .main .articulosbombillas .bombillaaluminio, .section .articulosbombillas .bombillaaluminio {
  grid-area: bombillaaluminio;
}
.hero .articulosbombillas .bombillaniquel, .main .articulosbombillas .bombillaniquel, .section .articulosbombillas .bombillaniquel {
  grid-area: bombillaniquel;
}
.hero .articulosbombillas .bombillaalpaca, .main .articulosbombillas .bombillaalpaca, .section .articulosbombillas .bombillaalpaca {
  grid-area: bombillaalpaca;
}
.hero .img-yerba, .main .img-yerba, .section .img-yerba {
  margin-top: 1rem;
  width: 25rem;
  animation-name: moverseY;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes moverseY {
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.hero .articulos, .main .articulos, .section .articulos {
  padding: 0.5rem;
}
.hero .articulos .article-yerba, .main .articulos .article-yerba, .section .articulos .article-yerba {
  margin-top: 2rem;
}
.hero .articulos .article-yerba .subtitulo, .main .articulos .article-yerba .subtitulo, .section .articulos .article-yerba .subtitulo {
  font-size: 1.3rem;
  min-width: 125px;
  padding-top: 0.5rem;
}
.hero .articulos .article-yerba .texto, .main .articulos .article-yerba .texto, .section .articulos .article-yerba .texto {
  font-size: 1rem;
  max-width: 75ch;
}
.hero .div-aditivos, .main .div-aditivos, .section .div-aditivos {
  display: flex;
  gap: 10rem;
}
.hero .div-aditivos .aditivos, .main .div-aditivos .aditivos, .section .div-aditivos .aditivos {
  list-style-type: square;
  display: flex;
  flex-direction: column;
}
.hero .div-aditivos .aditivos .aditivo, .main .div-aditivos .aditivos .aditivo, .section .div-aditivos .aditivos .aditivo {
  padding-top: 0.2rem;
}
@media screen and (max-width: 768px) {
  .hero .div-aditivos, .main .div-aditivos, .section .div-aditivos {
    gap: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .hero .div-aditivos, .main .div-aditivos, .section .div-aditivos {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 90%;
  }
  .hero .div-aditivos .aditivos, .main .div-aditivos .aditivos, .section .div-aditivos .aditivos {
    margin-bottom: 0px;
  }
}
.hero .articulo-titulo-memes, .main .articulo-titulo-memes, .section .articulo-titulo-memes {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.hero .memes .maxwidth-height400px, .main .memes .maxwidth-height400px, .section .memes .maxwidth-height400px {
  max-height: 400px;
  max-width: 400px;
}
.hero .memes .maxwidth-height400px .button, .main .memes .maxwidth-height400px .button, .section .memes .maxwidth-height400px .button {
  position: relative;
  top: 36px;
}
.hero .memes .maxwidth-height400px .meme, .main .memes .maxwidth-height400px .meme, .section .memes .maxwidth-height400px .meme {
  height: 350px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
  .hero .memes .maxwidth-height400px .meme, .main .memes .maxwidth-height400px .meme, .section .memes .maxwidth-height400px .meme {
    height: 320px;
  }
}
@media screen and (max-width: 480px) {
  .hero .memes .maxwidth-height400px .meme, .main .memes .maxwidth-height400px .meme, .section .memes .maxwidth-height400px .meme {
    max-height: 280px;
    max-width: 280px;
  }
}
.hero .btn, .main .btn, .section .btn {
  background-color: #163a70;
  color: #94dfcf;
  font-family: "Merriweather Sans", "Lato", sans-serif;
  font-weight: 800;
  padding: 0.4rem;
  width: 5rem;
  border-radius: 20px;
  border: none;
  margin-bottom: 1.5rem;
}
.hero .container-form, .main .container-form, .section .container-form {
  min-width: 250px;
}
@media screen and (max-width: 1024px) {
  .hero .container-form .width300px, .main .container-form .width300px, .section .container-form .width300px {
    width: 300px;
  }
}
.hero .form-control, .main .form-control, .section .form-control {
  border: 1px solid #163a70;
}

@media screen and (max-width: 768px) {
  .hero, .main, .section {
    padding: 1rem 1.5rem;
    gap: 0.7rem;
  }
  .hero .iframe, .main .iframe, .section .iframe {
    width: 440px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .hero .iframe, .main .iframe, .section .iframe {
    max-width: 300px;
    max-height: 200px;
  }
  .hero .articulosmate, .main .articulosmate, .section .articulosmate {
    display: flex;
    flex-direction: column;
  }
  .hero .articulosbombillas, .main .articulosbombillas, .section .articulosbombillas {
    display: flex;
    flex-direction: column;
  }
  .hero .img-yerba, .main .img-yerba, .section .img-yerba {
    max-width: 100%;
  }
}
.footer {
  background-color: #086375;
  color: #faebd7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.footer .logo {
  width: 70px;
  transition: 2s;
}
.footer .logo:hover {
  transform: scale(1.2);
}
.footer .social {
  display: flex;
  gap: 2rem;
}
.footer .social .social-info {
  display: flex;
  gap: 0.3rem;
  padding: 0.5rem;
}
.footer .social .social-info .texto {
  font-size: 1rem;
  max-width: 75ch;
}
.footer .caja-derechos {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.footer .caja-derechos .derechos {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .footer .logo {
    max-width: 55px;
  }
  .footer .social {
    flex-direction: column;
    gap: 0rem;
  }
  .footer .social .texto {
    font-size: 0.7rem;
  }
  .footer .caja-derechos .derechos {
    font-size: 0.5rem;
    text-align: right;
  }
}

/*# sourceMappingURL=styles.css.map */
