.header {
  background-color: $colorPrincipal;
  color: $colorTextoClaro;
  display: grid;
  grid-template-columns: 4fr 3fr;
  width: 100%;
  min-height: 150px;

  .header-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;

    .logo {
      width: 70px;
      transition: 1s;

      &:hover {
        transform: scale(1.4);
      }
    }    

    .titulo {
      font-weight:800;
      font-size: 2rem;
      font-family: 'Merriweather Sans', 'Lato', sans-serif;
      text-align: center;
      margin-bottom: 0px;
      animation-name: moverse;
      animation-duration: 3s;
      animation-iteration-count: infinite;

      @keyframes moverse {
        50%{
          transform: translateX(7px);
        }

        100%{
          transform: translateX(0px);
        }
      }
    }
  }

  .nav {
    background-color: $colorNavPrimario;

    .menu {
      list-style-type: none;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .menu-item {
        padding: 0.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: $colorTextoClaro;
          font-family: 'Merriweather Sans', 'Lato', sans-serif;
          font-weight: 700;
          text-align: center;
          transition: 1.7s;

          &:hover {
            color: $colorFuerte;
            transform: rotate(360deg);
          }
        }
      }

      .mates, .memesmateros {
        background-color: $colorNavSecundario;

        a{
          color: $colorTextoClaro;
        }
      }

      .activo {
        text-decoration: underline double;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    .nav {
      .menu {
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "inicio mates yerbas  memesmateros  contacto";
  
        .inicio {
          grid-area: inicio;
        }
      
        .mates {
          grid-area: mates;
        }
      
        .yerbas {
          grid-area: yerbas;
        }
      
        .memesmateros {
          grid-area: memesmateros;
        }
      
        .contacto {
          grid-area: contacto;
        }

        .menu-item {
          a {
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .header-div {
      .logo {
        max-width: 55px;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .header {
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    .nav {
      .menu {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "inicio"
        "mates"
        "yerbas"
        "memesmateros"
        "contacto"; 
      }
    }
  }
}