//Colores
$colorPrincipal: #086375;
$colorNavPrimario: #45abb1;
$colorNavSecundario:#288391;
$colorFondo:linear-gradient(to right,#0eb1c7,#f5f8fd,#0eb1c7);//#c1deff;
$colorClaro:#94dfcf;
$colorTextoClaro: #faebd7;
$colorFuerte: #163a70;