$colorPrincipal: #086375;
$colorNavPrimario: #569497;
$colorNavSecundario:#288391;
$colorFondo:#cdffc1;
$colorClaro:#80cbcf;
$colorTitulos:#163a70;
$colorTextoClaro: #faebd7;
$colorFuerte: #163a70;

// $colorPrincipal: #447274;
// $colorNavPrimario: #569497;
// $colorNavSecundario:#568897;086e7e
// $colorFondo:#aad3bc;
// $colorArticulo:#80cbcf;
// $colorTitulos:#243d37;
// $colorTextoClaro: #faebd7;
// $colorFuerte: #163a70;


// .btn{
//   background-color: #3c1642;
//   background-color: #086375;
//   background-color: #1dd3b0;
//   background-color: #affc41;
//   background-color: #b2ff9e;
// }

/*
.btn{
background-color: #447274; //colorPrincipal
background-color: #569497; 
background-color: #568897;
background-color: #aad3bc;
background-color: #80cbcf;
background-color: #163a70;
color: #faebd7;
color: #243d37;
color: #163a70;
}
*/